[user]
	name = Peter Yates
	email = peter.yates@graphia.co.uk
	signingkey = A846F177470366B2FDD05B03F5A9E8AD2A5C54A1

[commit]
	verbose = true
	gpgsign = true

[core]
	editor = vim
  pager = diff-highlight | less
	excludesfile = /home/peter/.gitignore_global
	UseHttpPath = true

[merge]
	ff = false
	conflictStyle = zdiff3

[fetch]
	prune = true

[pull]
	rebase = true

[diff]
	algorigthm = histogram
	colorMoved = default

[difftool]
	prompt = false
	trustExitCode = true

[tig]
	line-graphics = utf-8

[maintenance]
	repo = /home/peter/projects/department-for-education/current/ecf
	repo = /home/peter/projects/department-for-education/current/npq
	repo = /home/peter/projects/department-for-education/current/govuk-formbuilder
	repo = /home/peter/projects/department-for-education/current/govuk-components

[log]
	date = iso

[init]
	defaultBranch = main

[rerere]
	enabled = true

[mailmap]
	file = /home/peter/.mailmap
