[user]
	name = Peter Yates
	email = peter.yates@graphia.co.uk
	signingkey = A846F177470366B2FDD05B03F5A9E8AD2A5C54A1

[commit]
	verbose = true
	gpgsign = true

[core]
	editor = vim
  pager = delta
	excludesfile = /home/peter/.gitignore_global
	UseHttpPath = true

[merge]
	ff = false

[fetch]
	prune = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
  rebase = true

[diff]
  colorMoved = default

[difftool]
  prompt = false
  trustExitCode = true

[tig]
  line-graphics = utf-8

[delta]
  features = unobtrusive-line-numbers decorations
  whitespace-error-style = 22 reverse
  syntax-theme = Nord
  side-by-side = true
  minus-style = black red
  plus-style = black green

[delta "unobtrusive-line-numbers"]
  line-numbers = true
  line-numbers-minus-style = "#88c0d0"
  line-numbers-zero-style = "#88c0d0"
  line-numbers-plus-style = "#88c0d0"
  line-numbers-left-format = "{nm:>4}┊"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-left-style = blue
  line-numbers-right-style = blue

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = yellow
